@import "../../assets/bootstrap.min.css";

/* Cards */
.search .text-bg-darkblue {
  color:#fff!important;
  background-color: rgba(12, 43, 118, 0.87);
 }

.search .badge {
  margin-right: 5px!important;
}

.search .card-rating-badge {
  left: 10%!important;
  top: 6%!important;
  color: black;
  font-size: 1rem;
  vertical-align: middle;
  background-color: rgba(243, 215, 77, 0.892);
}

.search div.album .card.shadow-sm:hover {
  box-shadow:0 .125rem .25rem rgb(93, 9, 142)!important;
}

.search .card{
  min-width: 200px;
  max-width: fit-content;
  max-width: calc(100%);
}

.search .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
    .search .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.housepic {
  width: 500px;
  width: 50vw;
  min-width: 300px;
  align-self: center;
}

@media (max-width: 768px) {
    .search .card{
        min-width: 200px;
        max-width: fit-content;
        max-width: 100vw;
    }

    .housepic {
      width: 100%;
      align-self: center;
      min-width: 100%;
  }
  
}

div.card.text-center div {
    margin: 1px;
}

.ptitle {
    font-weight: bold;
    font-size: large;
    margin-bottom: 0;
    margin-top: 10px;
}

.ptitle.heading {
    font-size: x-large;
    margin-bottom: 10px;
}

.large-pill {
    font-size: 15px;
    margin: 5px;
}

.housedetails {
    display: flex;
}

.search img {
  object-fit: cover;
}